.default {
  padding: 8px;
  background: white;
  border: white;
  border-radius: 4px;
}

.primary {
  background: #03a9f4;
  border: #03a9f4;
  color: white;
}

.secondary {
  background: #a0ddf9;
  border: #a0ddf9;
  color: white;
}
